_build/
/.git_version
/src/Oci_Version.ml
/bin
/bin-test
/lib
/.merlin
/doc/*.html
*.tmp
/oci-data/
/test-oci-data/
/tests/library/*.cm*
/tests/library/*.o
/META
/config.log
/config.status
/configure
/autom4te.cache/
/.config
/.config_stamp
